.header {
	position: absolute;
	width: 100%;
	z-index: 10;

	&__button {
		@media only screen and (max-width:1300px) {
			display: none;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		padding: 32px 0;

		@media only screen and (max-width: 900px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 16px;
			padding: 20px 0;
		}
	}

	&__logo {
		display: flex;
		gap: 24px;
		align-items: center;
		margin-right: 32px;

		&-caption {
			font-size: 14px;
			line-height: 20px;
			color: #1A1A1A;
			opacity: 0.65;
		}

		&-name {
			font-weight: 800;
			font-size: 42px;
			line-height: 51px;
			color: #1A1A1A;
		}

		@media only screen and (max-width: 900px) {
			margin-right: 0;

			&-caption {
				font-size: 10px;
				line-height: 16px;
			}

			&-name {
				font-size: 32px;
				line-height: 41px;
			}

		}
	}

	&__address {
		display: inline-block;
		font-style: normal;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		letter-spacing: 0.01em;
		text-align: left;
		color: #1A1A1A;
		opacity: .72;

		@media only screen and (max-width:1272px) {
			display: none;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: 24px;

		& a {
			color: #ffffff;
			transition: color .3s;
			opacity: .96;
			letter-spacing: 0.01em;

			@media (hover: hover) {
				&:hover {
					color: #e2e2e2;
				}
			}
		}

		&-tel {
			font-size: 24px;
			font-weight: 700;
			line-height: 34px;
			text-align: center;
		}

		&-mail {
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
		}

		@media only screen and (max-width:1272px) {
			margin-right: 0;
		}

		@media only screen and (max-width: 900px) {
			margin-left: 0;
			display: none;
		}
	}

	.social {
		display: flex;
		gap: 8px;
		margin-left: 24px;

		&__icon {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			width: 64px;
			height: 64px;
			line-height: 0;
			margin-right: 10px;
			background-color: #ffffff;
			border-radius: 50%;
			transition: color .3s, background-color .3s, opacity .3s, box-shadow .3s;

			@media (hover: hover) {
				&:hover {
					background-color: #f3f3f3;
				}
			}
		}

		@media only screen and (max-width: 900px) {
			margin-left: 0;
			display: none;
		}
	}
}