.slider {
	margin-bottom: 160px;

	&--news {
		margin-bottom: 64px;
	}

	@media only screen and (max-width: 1199px) {
		margin-bottom: 60px;

		&--news {
			margin-bottom: 34px;
		}
	}

	&__more,
	&__more-news {
		margin-left: 24px;

		@media only screen and (max-width: 900px) {
			margin-left: 0;
		}
	}

	&__header {
		display: flex;
		margin-bottom: 42px;
		align-items: center;

		&--reviews {
			@media only screen and (max-width: 900px) {
				flex-direction: column;
				align-items: flex-start;
				gap: 10px;
				margin-bottom: 20px;
			}
		}
	}

	&__header-wrapper {
		display: flex;
		flex-direction: column;

		& span {
			font-family: "Montserrat", sans-serif;
			font-size: 24px;
			font-weight: 500;
			line-height: 31.2px;
			letter-spacing: -0.01em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #313131A3;
		}
	}

	&__controls {
		display: flex;
		gap: 8px;
		margin-left: auto;

		&-button {
			width: 52px;
			height: 52px;
			border-radius: 50%;
			border: 2px solid #00000029;
			background-color: #ffffff;
			transition: background-color .3s;

			@media (hover: hover) {
				&:hover {
					background-color: darken($color: #ffffff, $amount: 10%);
				}
			}
		}

		@media only screen and (max-width: 900px) {
			display: none;
		}
	}

	&__icon {
		position: absolute;
		z-index: 11;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.slider-certificats {
		width: 100%;

		.slick-slide {
			overflow: hidden;
			height: 316px;
			min-width: 408px;
			border-radius: 8px;
			position: relative;

			@media only screen and (max-width: 900px) {
				min-width: auto;
				height: auto;
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top center;
			}
		}

		.slick-track {
			display: flex;
			gap: 32px;

			@media only screen and (max-width: 900px) {
				gap: 12px;
			}
		}
	}

	.slider-blog {
		width: 100%;

		.slick-slide {
			overflow: hidden;
			height: 530px;
			min-width: 408px;
			border-radius: 8px;
			position: relative;

			& img {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}

			&::before {
				content: '';
				inset: 0;
				width: 100%;
				height: 100%;
				background-color: #00000052;
				position: absolute;
				z-index: 1;
				transition: background-color .3s;
			}

			@media only screen and (max-width: 796px) {
				min-width: auto;
				height: 316px;
			}

			@media (hover: hover) {
				&:hover {
					&::before {
						background-color: transparent;
					}
				}
			}
		}

		.slick-track {
			display: flex;
			gap: 16px;

			@media only screen and (max-width: 900px) {
				gap: 8px;
			}
		}
	}

	.slider-reviews {
		width: 100%;

		.slick-slide {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			min-height:  427px;
			min-width: 408px;
			border-radius: 8px;
			position: relative;
			cursor: pointer;
			border: 2px solid #1A1A1A29;

			@media only screen and (max-width: 796px) {
				min-width: auto;
				// height: 316px;
			}

			@media (hover: hover) {
				&:hover {
					&::before {
						// background-color: transparent;
					}
				}
			}
		}

		.slick-track {
			display: flex;
			gap: 16px;

			@media only screen and (max-width: 900px) {
				gap: 8px;
			}
		}
	}

	.slider-news {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 32px;

		@media only screen and (max-width: 1500px) {
			gap: 16px;
		}

		@media only screen and (max-width: 1200px) {
			gap: 8px;
			.news__slide {
				width: 100%;
			}
		}
	}
}

.certificats {
	&__caption {
		font-size: 64px;
		font-weight: 500;
		line-height: 70.4px;
		letter-spacing: -0.02em;

		@media only screen and (max-width: 1400px) {
			font-size: 44px;
			line-height: 50.4px;
		}
	}
}

.blog {
	&__caption {
		font-size: 64px;
		font-weight: 500;
		line-height: 70.4px;
		letter-spacing: -0.02em;

		@media only screen and (max-width: 1400px) {
			font-size: 44px;
			line-height: 50.4px;
		}
	}
}

.news {
	&__caption {
		font-size: 64px;
		font-weight: 500;
		line-height: 70.4px;
		letter-spacing: -0.02em;

		@media only screen and (max-width: 1400px) {
			font-size: 44px;
			line-height: 50.4px;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		position: absolute;
		padding-left: 5px;
		z-index: 1;
		bottom: 0;
		right: 0;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		background-color: #ffffff;
		transition: background-color .3s;

		@media only screen and (max-width: 1300px) {
			width: 32px;
			height: 32px;
		}
	}

	&__link {
		position: relative;
		display: flex;
		height: 333px;
		padding: 20px;
		border-radius: 16px;
		overflow: hidden;

		@media only screen and (max-width: 1500px) {
			height: 233px;
		}

		@media only screen and (max-width: 1200px) {
			height: 150px;
		}

		&::before {
			content: '';
			inset: 0;
			width: 100%;
			height: 100%;
			background-color: #00000052;
			position: absolute;
			z-index: 1;
			transition: background-color .3s;
		}

		&-content {
			position: relative;
			display: flex;
			justify-content: space-between;
			flex-grow: 1;
			z-index: 1;

			& .news__link-heading {
				width: 50%;

				@media only screen and (max-width: 1200px) {
					width: 100%;
				}
			}

			&--column {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;

				& .news__link-heading {
					width: 100%;
				}
			}
		}

		&-heading {
			display: inline-block;
			font-family: Manrope;
			font-size: 20px;
			font-weight: 600;
			line-height: 26px;
			letter-spacing: -0.01em;
			text-align: left;
			color: #ffffff;
			margin-bottom: 33px;

			@media only screen and (max-width: 1500px) {
				font-size: 14px;
				font-weight: 500;
				line-height: 18px;
			}
		}

		&-data {
			font-family: Manrope;
			font-size: 16px;
			font-weight: 500;
			line-height: 20.8px;
			letter-spacing: 0.01em;
			text-align: left;
			color: #FFFFFFA3;

			@media only screen and (max-width: 1500px) {
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
			}

			@media only screen and (max-width: 1200px) {
				display: none;
			}
		}

		& img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (hover: hover) {
			&:hover {
				&::before {
					background-color: transparent;
				}

				.news__icon {
					background-color: #0B766B;
				}
			}
		}
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		padding: 0 10px;
		gap: 32px;

		@media only screen and (max-width: 1500px) {
			gap: 16px;
		}

		@media only screen and (max-width: 1200px) {
			gap: 8px;
		}

		@media only screen and (max-width: 1000px) {
			grid-template-columns: repeat(2, 1fr); /* Устанавливаем 2 колонки */
		}

		@media only screen and (max-width: 900px) {
			display: flex;
			flex-direction: column;
			padding: 0 4px;
		}
	}

	&__link:nth-child(1) {
		height: 100%;
		grid-row: span 2 / span 2;
		background-color: red;

		@media only screen and (max-width: 1000px) {
			height: 150px;
			grid-column-start: auto;
			grid-row-start: auto;
		}

		@media only screen and (max-width: 796px) {
			grid-row: auto;
			align-self: stretch; /* Растягиваем элемент по всей высоте ячейки */
		}
	}

	&__link:nth-child(2) {
		height: 100%;
		grid-row: span 2 / span 2;
		background-color: green;

		@media only screen and (max-width: 1000px) {
			height: 150px;
			grid-column-start: auto;
			grid-row-start: auto;
		}
	}

	&__link:nth-child(3) {
		grid-column: span 2 / span 2;
		background-color: #000000;

		@media only screen and (max-width: 1000px) {
			grid-column-start: auto;
			grid-row-start: auto;
		}
	}

	&__link:nth-child(4) {
		grid-column: span 2 / span 2;
		grid-column-start: 3;
		grid-row-start: 2;
		background-color: #0B766B;

		@media only screen and (max-width: 1000px) {
			grid-column: span 2;
			grid-column-start: auto;
			grid-row-start: auto;
		}
	}

	&__link:nth-child(5) {
		grid-row-start: 3;
		background-color: cadetblue;

		@media only screen and (max-width: 1000px) {
			grid-column: span 2;
			grid-column-start: auto;
			grid-row-start: auto;
		}
	}

	&__link:nth-child(6) {
		grid-column: span 2;
		grid-row-start: 3;
		background-color: saddlebrown;

		@media only screen and (max-width: 1000px) {
			grid-column: span 2;
			grid-column-start: auto;
			grid-row-start: auto;
		}
	}

	&__link:nth-child(7) {
		grid-row-start: 3;
		background-color: forestgreen;

		@media only screen and (max-width: 1000px) {
			grid-column: span 2;
			grid-column-start: auto;
			grid-row-start: auto;
		}
	}

	&__link:nth-child(8) {
		grid-row-start: 3;
		background-color: lavenderblush;

		@media only screen and (max-width: 1000px) {
			grid-column: span 2;
			grid-column-start: auto;
			grid-row-start: auto;
		}
	}
}

.reviews {
	&__caption {
		font-size: 64px;
		font-weight: 500;
		line-height: 70.4px;
		letter-spacing: -0.02em;

		@media only screen and (max-width: 1400px) {
			font-size: 44px;
			line-height: 50.4px;
		}
	}

	.review {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		height: 100%;
		width: 100%;
		padding: 48px;

		@media only screen and (max-width: 900px) {
			padding: 20px;
		}

		&__rating {
			margin-bottom: 16px;

			&-value,
			&-line {
				display: flex;
			}

			&-line {
				position: relative;
			}

			&-value {
				position: absolute;
				left: 0;
			}
		}

		&__name {
			font-size: 20px;
			font-weight: 600;
			line-height: 26px;
			letter-spacing: -0.01em;
			text-align: left;
			color: #313131;
			margin-bottom: 32px;
		}

		&__text {
			margin: 0;
			font-size: 16px;
			font-weight: 400;
			line-height: 20.8px;
			letter-spacing: 0.01em;
			color: #1A1A1AB8;
			margin-bottom: 32px;

			&--cutted {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 5; /* Здесь указываем количество строк */
				overflow: hidden;
				text-overflow: ellipsis; /* Добавляет многоточие в конце */
			}
		}

		&__controls {
			display: flex;
			width: 100%;
			justify-content: space-between;
			margin-top: auto;
		}

		&__data {
			font-size: 14px;
			font-weight: 500;
			line-height: 18.2px;
			letter-spacing: 0.01em;
			text-align: left;
			color: #0000003D;

			@media only screen and (max-width: 900px) {
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
			}
		}

		&__more{
			position: relative;
			z-index: 10;
			font-family: Manrope;
			font-size: 16px;
			font-weight: 800;
			line-height: 20.8px;
			letter-spacing: 0.01em;
			text-align: left;
			text-transform: uppercase;
			color: #0B766B;
			transition: opacity .3s;

			@media only screen and (max-width: 900px) {
				font-size: 14px;
				font-weight: 700;
				line-height: 18px;
			}

			@media (hover: hover) {
				&:hover {
					opacity: .7;
				}
			}
		}
	}
}